<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Face Detection</title>
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

  <title>face detection</title>

  <h1 class="text-center p-3 ">Face Detection</h1>
  <style>
    .shadow {
      box-shadow: 0 8px 6px -6px black;
}
  </style>
</head>

<body>
  <form action="/upload" method="post" enctype="multipart/form-data">
    <div class="d-flex justify-content-center p-4 bg-light container shadow">
      <input type="file" name="logo" class="btn btn-primary ">
      &nbsp;&nbsp;&nbsp;<input type="submit" value="Detect" class="btn btn-success p-2">
    </div>
  </form>
  <!-- Detect face display area -->
  <div class="container p-3">
      <div class="col-sm-6 mx-auto">
        <p>
            <img src="{{url_for('static',filename='capture.png')}}" class="img-thumbnail" width="500" height="500" alt="Image will be displayed here.!">
        </p>
      </div>
  </div>
  <script>
    
  </script>
</body>

</html>